

<!-- Start Header/Navigation -->
<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

    <div class="container">
        <a class="navbar-brand" href="index.html">Furni<span>.</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <!-- Home link -->
                <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <!-- Shop link -->
                <li class="nav-item {% if request.path == '/shop/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'shop' %}">Shop</a>
                </li>
                <!-- About us link -->
                <li class="nav-item {% if request.path == '/about/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'about' %}">About us</a>
                </li>
                <!-- Services link - Fix: Correct URL path -->
                <li class="nav-item {% if request.path == '/services/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'services' %}">Services</a>
                </li>
                <!-- Blog link -->
                <li class="nav-item {% if request.path == '/blog/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                </li>
                <!-- Contact us link -->
                <li class="nav-item {% if request.path == '/contact/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'contact' %}">Contact us</a>
                </li>
            </ul>

            <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                <li><a class="nav-link" href="{% url 'login' %}"><img src="/static/images/user.svg"></a></li>
                <li><a class="nav-link" href="cart.html"><img src="/static/images/cart.svg"></a></li>
            </ul>
        </div>
    </div>
        
</nav>
<!-- End Header/Navigation -->

